.vscode/*
*/*/build
.vscode/settings.json
*/venv/*
*/*/venv/*
*/*/*/venv/*
*/*/*/*/venv/*
*/*/*/*/*/venv/*
*/*/*/*/*/*/venv/*
*/*/*/*/*/*/*/venv/*
feishu/jsapi/web_app_with_jssdk/python/__pycache__/auth.cpython-312.pyc
