.vscode/*

*/venv/*
*/*/venv/*
*/*/*/venv/*
*/*/*/*/venv/*
*/*/*/*/*/venv/*
*/*/*/*/*/*/venv/*
*/*/*/*/*/*/*/venv/*

*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*.pyc
